<% title 'Sign In' %>

<%= form_tag sessions_path, class: 'form-horizontal' do %>

	<div>
		<%= label_tag :email, "Email"%>
		<div>
			<%= text_field_tag :email, params[:email] %>
		</div>
	</div>
	<div >
		<%= label_tag :password, "Password" %>
		<div>
			<%= password_field_tag :password, params[:password] %>
		</div>
	</div>
	<div>
		<label></label>
		<div>
			<%= submit_tag "Sign In", class: 'btn btn-primary' %>
			<p class="help-block">If you don't have an account, here <%= link_to 'Sign Up', sign_up_path %></p>
		</div>
	</div>
<% end %>